<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="/static/style.css">
  <title>{% block title %}{% endblock %}</title>
</head>

<body>
  <a href=" {{ url_for('hello') }}">hello</a> |
  <a href=" {{ url_for('list_invocations') }}">invocations</a> |
  <a href=" {{ url_for('list_tasks') }}">tasks</a> |
  <a href=" {{ url_for('list_solutions', name='prob-%') }}">regular solutions</a>
  <a href=" {{ url_for('list_solutions', name='block-%') }}">chain solutions</a>
  <hr>

  {% block body %}
  {% endblock %}
</body>
